Immutability

In [1]:
name = "Sam"

In [3]:
#concatenate
letters = name[1:]

In [4]:
letters

'am'

In [5]:
'p' + letters

'pam'

In [6]:
x = 'Hello World'

In [9]:
x = x + ' it is beautiful outside'

In [10]:
x

'Hello World it is beautiful outside'

In [11]:
letter = 'z'

In [12]:
letter * 10

'zzzzzzzzzz'

In [13]:
2 + 3

5

In [14]:
# two strings can't concatenate 
'2' + '3'

'23'

In [15]:
x='Hello World'

In [19]:
x.upper()

'HELLO WORLD'

In [21]:
x.split() # split based on white space

['Hello', 'World']

In [22]:
x = 'Hi this is a string'

In [23]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [24]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

Using .format method

In [26]:
print('this is a string {}'.format('INSERTED'))

this is a string INSERTED

In [29]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

# numbers pertain to the words in the .format method using the index position

The quick brown fox

In [30]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

Float formatting with .format {value:width.precision f}

In [31]:
result = 100/777

In [42]:
result = 104.12345

In [43]:
print("the result was {r:1.8f}".format(r=result))

the result was 104.12345000

In [44]:
name = "Evan"

In [45]:
# formatting string literals "fstrings"
print(f'Hello, his name is {name}')

Hello, his name is Evan

In [48]:
name = "Evan"
age = 22

In [49]:
print(f"{name} is {age} years old.")

Evan is 22 years old.