# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [16]:
def lesser_of_two_evens(a,b): 
    if a %2==0 and b %2==0:
        if b > a:
            return a 
        if b < a:
            return b
    else:
        if a < b:
            return b
        else:
            return a

In [17]:
# Check
lesser_of_two_evens(8,4)

4

In [19]:
# Check
lesser_of_two_evens(17,5)

17

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [74]:
def animal_crackers(text):
    wordlist = text.split()
    first = wordlist[0]
    second = wordlist[1]
    
    return first[0] == second[0]

In [75]:
# Check
animal_crackers('Levelheaded Llama')

True

In [76]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [54]:
def makes_twenty(n1,n2):
    if n1 == 20:
        return True
    elif n2 == 20:
        return True
    if n1 + n2 == 20:
        return True 
    else:
        return False

In [57]:
# Check
makes_twenty(2,10)

False

In [58]:
# Check
makes_twenty(17,3)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [91]:
def old_macdonald(name):
    first_letter = name[0]
    letters = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    return first_letter.upper() + letters + fourth_letter.upper() + rest

In [93]:
# Check
old_macdonald('Evan')

'EvaN'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [147]:
def master_yoda(text):
    phrase = text.split()
    reversed_words = phrase[::-1]
    return ' '.join(reversed_words)

In [148]:
# Check
master_yoda('I am home')

'home am I'

In [149]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [188]:
def almost_there(n):
    if abs(100 - n) <= 10 or abs(200-n) <= 10:
        return True
    else:
        return False

In [189]:
# Check
almost_there(190)

True

In [190]:
# Check
almost_there(150)

False

In [191]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [9]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i + 1] == 3:
            return True
        
    return False

In [10]:
# Check
has_33([1, 3, 3])

True

In [11]:
# Check
has_33([1, 3, 1, 3])

False

In [12]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [14]:
def paper_doll(text):
    result = ''
    for char in text:
        result += char*3
    return result

In [15]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [16]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [92]:
def blackjack(a,b,c):
    add = a+b+c
    if add <= 21:
        return add
    else:
        if a==11 or b==11 or c==11:
            new_sum = add-10
            if new_sum <= 21:
                return new_sum
            else:
                return 'Bust'
        return 'Bust'

In [93]:
# Check
blackjack(5,6,7)

18

In [94]:
# Check
blackjack(9,9,9)

'Bust'

In [96]:
# Check
blackjack(3,11,5)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [97]:
def summer_69(arr):
    total = 0 
    add = True 
    for num in arr:
        while add:
            if num!=6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True 
                break
    return total

In [98]:
# Check
summer_69([1, 3, 5])

9

In [99]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [100]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [107]:
def spy_game(nums):
    
    mylist = [0,0,7,'x']
    for num in nums:
        if num == mylist[0]:
            mylist.pop(0)
    return len(mylist) == 1

In [114]:
# Check
spy_game([9,2,4,0,0,7,5])

True

In [115]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [116]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [123]:
def count_primes(num):
    
    #check for zero or 1 input
    if num < 2:
        return 0
    
    # store the prime numbers
    primes = [2]
    # counter that goes up to input num
    x = 3
    # x is going through every number up to input
    while x <= num:
        # check if x is prime
        for y in primes:
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [124]:
# Check
count_primes(1650)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997, 1009, 1013, 1019, 1021, 1031, 1033, 1039, 1049, 1051, 1061, 1063, 1069, 1087, 1091, 1093, 1097, 1103, 1109, 1117, 1123, 1129, 1151, 1153, 1163, 1171, 1181, 1187, 1193, 1201, 1213, 1217, 1223, 1229, 1231, 1237, 1249, 1259, 1277, 1279, 1283, 1289, 1291, 1297, 1301, 1303, 1307, 1319, 1321, 1327, 1361, 1367, 1373, 1381, 1399, 1409, 1423, 1427, 1429, 1433, 1439, 1447, 1451, 1453, 1459, 1471, 1481, 1483, 1487, 1489, 1493, 1499, 1511, 1523, 1531, 1543, 1549, 1553, 1559, 1567, 1571, 1579, 1583, 1597, 1601, 1607, 1609, 1613, 1619, 1621, 1627, 1637]

259

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [125]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   *',9:'*   '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [132]:
print_big('e')

*****
*
*****
*
*****

## Great Job!